    /* design du logo */
    
    .Omni {
        color: #1790DC;
    }
    
    .Soin {
        color: #50DD8F;
    }
    
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #f9f9f9;
    }
    
    .login-header {
        margin-bottom: 20px;
    }
    
    .login-header a {
        font-style: italic;
        font-weight: bolder;
        font-size: 3rem;
        text-decoration: none;
    }
    
    .login-card {
        width: 100%;
        max-width: 400px;
        background: white;
        padding: 40px;
        border-radius: 30px;
        border: 1px solid #7dc8f2;
        /* La bordure bleue claire de l'image */
        text-align: center;
    }
    
    .login-card h2 {
        font-style: italic;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .input-group {
        text-align: left;
        margin-bottom: 25px;
    }
    
    .input-group label {
        display: block;
        font-style: italic;
        margin-bottom: 8px;
        font-size: 0.9rem;
    }
    
    .input-group input {
        width: 100%;
        height: 45px;
        background-color: #e0e0e0;
        /* Gris de l'image */
        border: none;
        outline: none;
        padding: 0 15px;
        box-sizing: border-box;
    }
    
    .forgot-link {
        display: block;
        text-align: left;
        color: #3498db;
        text-decoration: underline;
        font-size: 0.85rem;
        font-style: italic;
        margin-bottom: 30px;
    }
    
    .btn {
        width: 80%;
        height: 45px;
        border: none;
        border-radius: 10px;
        color: white;
        font-style: italic;
        cursor: pointer;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(to right, #1d90d8, #60e0a5);
        /* Dégradé exact */
    }
    
    .btn-google {
        font-size: 0.9rem;
    }
    
    .signup-link {
        display: block;
        margin-top: 10px;
        color: #3498db;
        text-decoration: underline;
        font-style: italic;
    }
    /* partie des transition */
    
    .btn-google:hover {
        background-position: right center;
        transform: translateY(-2px);
    }
    
    .btn:hover {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.396);
    }