.search-bar-form {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 5px 15px;
    flex-grow: 1;
}

.field {
    flex: 1;
}


/* LE SECRET : On retire le design par défaut des inputs */

.field input,
.field select {
    width: 100%;
    border: none;
    outline: none;
    /* Supprime le contour bleu au clic */
    padding: 10px;
    font-style: italic;
    color: #666;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.line-divider {
    width: 1px;
    height: 30px;
    background-color: #eee;
    margin: 0 10px;
}

.btn-submit {
    background-color: #7d73b2;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}